doctype html
html
  head
    title
      | Новости
    meta(charset='utf-8')
    link(rel='shotcut icon' href='imeges/m.ico')

  body
    .head
      h1
        | Блог Харитонова Алексея
      .navig_all
        ul.navig
          li
            a(href='rozklad.html' target='_blank') Моё расписание
          li
            a(href='form.html' target='_blank') Форма
          li
            a(href='index.html' target='_blank') БИО
    br

    .content
      .body_news
        h2
          | Последние новости
        img(src='imeges/9.png' width='150')
        br
        h3
          | Плюшевые коты
        p
          b Плюшевая кошка
          |   — это не какая-то конкретная порода, это лишь характеристика качества шерсти. Коты с плюшевой шерстью встречаются сразу в нескольких породах.
          a(href='https://murkotiki.com/plyushevyie-koshki-poroda' target='_blank')
            | Подробенее
        hr
        br
        img#kit(src='imeges/10.jpg' width='200')
        h3
          | Вымирание китов
        p
          b
            | Кит — самое большое из живущих на Земле животных. Наиболее крупные особи достигают 34 м в длину, весят до 190 т и способны поглотить за день 8 т пищи. В животном мире у кита почти нет естественных врагов. Кроме одного — человека. Китобойный промысел, морская нефтедобыча, браконьерство, рыболовные сети, загрязнение океанов — все это поставило морских гигантов на грань исчезновения. Борьба за спасение этих млекопитающих — одно из приоритетных направлений в деятельности различных фондов защиты природы.
        details
          summary Подробнее
          | 		Какие китообразные вымирают?
          br
          | 		Южный кит
          br
          | 		Живут группами по две-три особи. Несмотря на игривый и любознательный характер, южный кит весьма медлителен. Даже напуганный, не может развить скорость свыше 14 км/ч, поэтому всегда был легкой добычей китобоев. Длина тела достигает 21 м, вес 80 т.
          br
          | 		Синий кит
          br
          | 		Самый крупный из китообразных. Средняя длина взрослого кита 30 м, вес 120 т. Только язык весит 3 т, печень 1 т, сердце 700 кг. В первой половине XX столетия был почти полностью уничтожен.
          a(href='http://fondwhale.ru/kak-vymirayut-kity' target='_blank')
            | Источник
        br
        hr
        img(src='imeges/11.png' width='220')
        br
        h3
          | Новые телефоны Илона Маска
        p
          a(href='https://www.ixbt.com/news/2021/03/13/tesla-marscoin-starlink.html' target='_blank')
            | TeslaPhone
        hr
        p
          a(href='https://twitter.com/elonmusk/status/1374991664280834054')
            img(src='imeges/12.jpg' width='220')
        h3
          | Твит Маска про Космос
        | 		Дата публикации 25.03.21
        p
        hr
        img(src='https://cdn.000webhost.com/000webhost/logo/000logo-new-colors.svg' width='150')
        br
        h3
          | Бесплатный Хостинг
        a(href='https://ru.000webhost.com/members/website/list' target='_blank')
          | Подробенее
    footer.footer
      p 2021
