doctype html
html
  head
    title
      | Фотоальбом
    meta(charset='utf-8')
    link(rel='shotcut icon' href='imeges/m.ico')
    
  body
    .head
      h1
        | Блог Харитонова Алексея
      .navig_all
        ul.navig
          li
            a(href='news.html' target='_blank')
              | Последние новости
          li
            a(href='index.html' target='_blank')
              | Био
    br
    
    .content
      .body_photo
        h2
          | Моя фотоальбом
        a(href='imeges/2.jpg' target='_blank')
        figure
          a(href='imeges/2.jpg' target='_blank')
            img(src='imeges/2.jpg' width='150')
          figcaption
            | 1.jpg 660x660
        a(href='imeges/1.jpg' target='_blank')
        figure
          a(href='imeges/1.jpg' target='_blank')
            img(src='imeges/1.jpg' width='150')
          figcaption
            | 2.jpg 255x224
        a(href='imeges/3.jpg' target='_blank')
        figure
          a(href='imeges/3.jpg' target='_blank')
            img(src='imeges/3.jpg' width='150')
          figcaption
            | 3.jpg 1280x800
        a(href='imeges/4.png' target='_blank')
        figure
          a(href='imeges/4.png' target='_blank')
            img(src='imeges/4.png' width='150')
          figcaption
            | 4.pngs 1907x792
        a(href='imeges/5.png' target='_blank')
        figure
          a(href='imeges/5.png' target='_blank')
            img(src='imeges/5.png' width='150')
          figcaption
            | 5.png 256x256
        a(href='imeges/6.png' target='_blank')
        figure
          a(href='imeges/6.png' target='_blank')
            img(src='imeges/6.png' width='150')
          figcaption
            | 6.png 960x1378
        a(href='imeges/7.png' target='_blank')
        figure
          a(href='imeges/7.png' target='_blank')
            img(src='imeges/7.png' width='150')
          figcaption
            | 7.png 563x563
        a(href='imeges/8.jpg' target='_blank')
        figure
          a(href='imeges/8.jpg' target='_blank')
            img(src='imeges/8.jpg' width='150')
          figcaption
            | 8.jpg 224x224
    footer.footer
      p 2021
