doctype html
html
  head
    title
      | Расписание
    meta(charset='utf-8')
    link(rel='shotcut icon' href='imeges/m.ico')
    
  body
    .head
      h1
        | Блог Харитонова Алексея
      .navig_all
        ul.navig
          li
            a(href='news.html' target='_blank')
              | Последние новости
          li
            a(href='photo.html' target='_blank')
              | Фотоальбом
          li
            a(href='index.html' target='_blank')
              | Био
    br
    
    .content
      .body_rozklad
        h2
          | Моё расписание
        table
          thead
            tr
              th
                | Время
              th
                | Понедельник
              th
                | Вторник
              th
                | Среда
              th
                | Четверг
              th
                | Пятница
              th
                | Суббота
          tbody
            tr(align='center')
              td
                time 8:00
              td
                | -
              td
                | -
              td
                | -
              td
                | -
              td
                | -
              td
                | Деловая и научная компьютерная графика
                hr
                | 				Решевская Катерина Сергеевна
            tr(align='center')
              td
                time 9:30
              td
                | -
              td
                | -
              td
                | -
              td
                | -
              td
                | -
              td
                | Деловая и научная компьютерная графика
                hr
                | 				Решевская Катерина Сергеевна
            tr(align='center')
              td
                time 11:25
              td
                | -
              td
                | -
              td
                | Практикум с программирования
                hr
                | 				Стреляев Юрий Михайлович
              td
                | Основы автоматизированого проектирования
                hr
                | 				Кривохата Анастасия Григорьевна
              td
                | -
              td
                | -
            tr(align='center')
              td
                time 12:55
              td
                | Основы програмой инженерии
                hr
                | 				Чопоров Сергей Викторович
              td
                | -
              td
                | Практикум с программирования
                hr
                | 				Стреляев Юрий Михайлович
              td
                | Основы програмой инженерии
                hr
                | 				Кривохата Анастасия Григорьевна
              td
                | Основы автоматизированого проектирования
                hr
                | 				Кудин Алексей Владимирович
              td
                | -
            tr(align='center')
              td
                time 14:30
              td
                | Численные методы в информатике
                hr
                | 				Левчук Сергей Анатолиевич
              td
                | Английский язык
                hr
                | 				Деревьянко Юлия Михайловна
              td
                | -
              td
                | Численные методы в информатике
                hr
                | 				Левчук Сергей Анатолиевич
              td
                | Фронт Энд
                hr
                | 				Лисняк Андрей Александрович
              td
                | -
            tr(align='center')
              td
                time 16:05
              td
                | -
              td
                | Фронт Энд
                hr
                | 				Лебедь Максим Владимирович
              td
                | -
              td
                | -
              td
                | -
              td
                | -
    footer.footer
      | 2021
